@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
   
}
body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: whitesmoke;
    color:var(--color-fuente);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  
}
.formulario{
    
    background: #fff;
    position: relative;
    margin-top: 200px;
    padding: 3px;
    width: 800px;
    top:100px;
}
.hero_register{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
   
    
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width:87.7%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
.pLogin{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:300px)
{
    .formulario{
        margin: auto;
        width: 370px;
        margin-top: 75px;
        margin-bottom: 50px;
        border-radius: 2%;
    }

    input[type="text"],
input[type="password"]{
    font-size: 20px;
    width:84.3%;
    padding: 10px;
    border: none;
}
}


.nav_logo{
    background: #fff;
    width: 160px;
    border-radius: 10px;
    
    
}

.nav_title{
    text-align: center;;
}

label.error{
    color:darkred;
    margin-top: 1rem;
    
}


input.error{
    border: 2px solid darkred;
    border-radius: 3px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  